name: Django DEV

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DEBUG: "True"
      SECRET_KEY: "ci-only-${{ github.run_id }}-${{ github.sha }}"
      DB_NAME: "github_actions"
      DB_USER: "github_actions"
      DB_PASSWORD: "github_actions"


    strategy:
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django tests
        run: |
          python manage.py test


  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/dev' && github.event_name == 'push'
    steps:
    - name: Setup SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H 37.205.13.147 >> ~/.ssh/known_hosts
      env:
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}

    - name: Deploy via SSH
      run: |
        ssh -vvv dev-chytra-krajina@37.205.13.147 "echo ok"
        ssh dev-chytra-krajina@37.205.13.147 "/home/dev-chytra-krajina/bin/deploy.sh"